<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-table>
      <tbody>
      <tr>
        <td style="width: 18%">
          <nz-form-label nzFor="materialCategoryName" nzRequired>Név</nz-form-label>
        </td>
        <td>
          <nz-form-control nzErrorTip="Please enter category name!">
            <input nz-input formControlName="name" id="materialCategoryName"/>
          </nz-form-control>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-form-item>

  <button nz-button nzType="primary" (click)="showSubmitConfirm()" [disabled]="!form.valid">Mentés</button>
</form>
