<ng-template #pageTitle>
  <div class="sidebar-logo">
    <a href="/">
      <!--        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">-->
      <h1>Receptgyüjtemény</h1>
    </a>
  </div>
</ng-template>
<nz-layout class="app-layout">
  <nz-sider *ngIf="isLoggedIn$ | async"
            class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <ng-container *ngTemplateOutlet="pageTitle"/>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/allergens">Allergének</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/material-category">Alapanyag kategóriák</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/material">Alapanyagok</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/recipe">Receptek</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div *ngIf="!(isLoggedIn$ | async)" style="float: left"> <ng-container *ngTemplateOutlet="pageTitle"/></div>
      <span *ngIf="isLoggedIn$ | async" class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                  style=" color: white;"
            ></span>
      </span>
      <div style="float: right; padding-right: 10px">
        <div *ngIf="isLoggedIn$ | async; else loggedOut">
          <button nz-button nzType="primary" (click)="logout()">Kijelentkezés</button>
        </div>
        <ng-template #loggedOut>
          <button nz-button nzType="primary" (click)="login()">Bejelentkezés</button>
        </ng-template>
      </div>
      <div *ngIf="!(isLoggedIn$ | async)" style="float: right; padding-right: 10px">
        <div>
          <button nz-button nzType="primary" (click)="registration()">Regisztráció</button>
        </div>
      </div>
    </nz-header>
    <nz-content style="padding: 0 50px;">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;"></nz-footer>

  </nz-layout>
</nz-layout>
